.paper {
    margin: 0;
    margin-bottom: 10px;
    break-inside: avoid;
    width: 90%;
    padding: 10px 2px 0px 20px;
    cursor: pointer;
    /* color: rgba(255, 255, 255, 0.671); */
}

.container {
    column-count: 4;
    column-gap: 10px;
    margin: 15px 0px 25px 25px;
    min-height: 98vh;
}

.mediaBreak {
    display: none;
}

.modelBody {
    width: 40%;
}

@media screen and (max-width:1400px) and (min-width:1100px) {
    .container {
        column-count: 3;
    }
}

@media screen and (max-width:1100px)and (min-width:800px) {
    .container {
        column-count: 2;
    }
}

@media screen and (max-width:800px) {
    .paper {
        padding: 10px 2px 0px 10px;
        margin: auto;
        margin-bottom: 10px;
    }
    .container {
        column-count: 1;
        margin: 15px 0px 25px 0px;
    }
    .modelBody {
        width: 70%;
    }
}

@media screen and (max-width:740px) {
    .mediaBreak {
        display: block;
    }
}