.main {
    /* background-image: url('../../assests/pad.svg');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #525355;
    width: 35%;
    height: 600px;
    /* border: 1px solid white; */
    margin: 80px auto;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.clip {
    position: absolute;
    left: 50%;
}

.clip>div {
    width: 300px;
    height: 70px;
    background-color: #fff;
    left: -50%;
    top: -30px;
    position: relative;
}

.semicircle {
    position: absolute;
    left: 50%;
}

.semicircle>div {
    width: 120px;
    height: 120px;
    background-color: #fff;
    left: -50%;
    border-radius: 50%;
    top: -40px;
    position: relative;
    z-index: -1;
}

.form {
    padding-top: 30px;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

.label {
    width: 70%;
    text-align: left;
    display: inline-block;
    color: #fff;
    font-size: 1.3em;
}

.form input {
    width: 70%;
    height: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #7e7d7d;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px #2e2e2e;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between;
    align-content: center;
}

.row>p:hover {
    text-decoration: underline;
}

.row>button {
    width: 45%;
    padding: 10px;
    font-size: 1.3em;
    align-self: center;
    border: none;
    border-radius: 8px;
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
    box-shadow: 0px 3px 6px 2px #616161;
}

.namerow {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.namerow .name {
    width: 50%;
}

.namerow .name input,
.namerow .name .label {
    width: 75% !important;
}

.invalid {
    outline: 1px solid red;
}

.form input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(194, 194, 194);
    opacity: 1;
    /* Firefox */
}

.form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(194, 194, 194);
}

.form input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(194, 194, 194);
}

@media screen and (max-width:900px) {
    /* * {
        font-size: 1em !important;
    } */
    .main {
        width: 85vw !important;
        height: auto;
        padding-bottom: 50px;
    }
    .clip>div {
        width: 50vw;
        height: 50px;
        top: -15px;
    }
    .semicircle>div {
        width: 80px;
        height: 80px;
        background-color: #fff;
        left: -50%;
        border-radius: 50%;
        top: -40px;
        position: relative;
        z-index: -1;
    }
    .title {
        font-size: 1.8em;
    }
    .label {
        font-size: 1.2em;
    }
    .form input {
        height: 15px;
        margin-bottom: 20px;
    }
    .row {
        width: 70%;
    }
    .row>p {
        width: 100%;
        font-size: 1em;
        margin-bottom: 20px;
    }
    .row>button {
        width: 100%;
        margin-bottom: 20px;
    }
    .namerow .name {
        width: 100%;
    }
    .namerow .name input,
    .namerow .name .label {
        width: 89% !important;
    }
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .main {
        width: 60vw;
    }
}